doctype html
html(itemscope="", itemtype="http://schema.org/Article", lang="en")
	head
		title Projects by Philippe Sawicki

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		meta(name="description", content="Philippe Sawicki's online Project portfolio, including 'Google Analytics Web Tester' and other Digital Analytics tools.")
		meta(name="author", content="Philippe Sawicki")

		link(rel="shortcut icon", href="favicon.ico")

		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300,400,300italic,400italic,700")
		//link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Montserrat:400,700")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="public/css/styles.css")

	body

		script(type="text/javascript").
			if (location.hostname === 'localhost') {
				(function (w) {
					w.ga = function () {};
				})(window);
			} else {
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			}
			ga('create', {
				trackingId: 'UA-60737019-4',
				cookieDomain: 'auto', 
				siteSpeedSampleRate: 100
			});
			ga('require', 'displayfeatures');
			ga('send', 'pageview');

		header.header.shadow-z-2
			div.container
				img(class="profile-image img-responsive pull-left round-frame shadow-z-1", src="public/img/portrait.jpg", alt="Philippe Sawicki - Full Stack Developer & Digital Analyst", title="Philippe Sawicki - Full Stack Developer & Digital Analyst", width="180", height="180")
				div(class="profile-content pull-left")
					h1.name Philippe Sawicki
					h2.desc Full Stack Developer & Digital Analyst
					ul(class="social list-inline")
						li: a#headerGitHub(href="https://github.com/philsawicki", title="Philippe Sawicki on GitHub", target="_blank", class="js-ga-outbound-link"): i(class="fa fa-github-alt")
						li: a#headerStackoverflow(href="http://stackoverflow.com/users/4529476/philippe-sawicki", title="Philippe Sawicki on Stackoverflow", target="_blank", class="js-ga-outbound-link"): i(class="fa fa-stack-overflow")
						li: a#headerFacebook(href="https://facebook.com/philippe.sawicki", title="Philippe Sawicki on Facebook", target="_blank", class="js-ga-outbound-link"): i(class="fa fa-facebook")
						li: a#headerTwitter(href="https://twitter.com/fyll_s", title="Philippe Sawicki on Twitter", target="_blank", class="js-ga-outbound-link"): i(class="fa fa-twitter")
						li: a#headerGooglePlus(href="https://plus.google.com/+PhilippeSawicki", title="Philippe Sawicki on Google+", target="_blank", class="js-ga-outbound-link"): i(class="fa fa-google-plus")
						li.last-item: a#headerLinkedIn(href="https://linkedin.com/in/philippesawicki", title="Philippe Sawicki on LinkedIn", target="_blank", class="js-ga-outbound-link"): i(class="fa fa-linkedin")
				a#getInTouch(class="btn btn-cta-secondary pull-right js-ga-outbound-link", href="http://philippesawicki.com", target="_blank") <!--<i class="fa fa-paper-plane"></i>--> Get in touch

		div(class="container sections-wrapper")
			div.row
				div(class="primary col-md-8 col-sm-12 col-xs-12")
					section(class="about section shadow-z-1")
						div.section-inner
							h2.heading About Me
							div.content
								p I am at my best when presented with a complex task and an idea of the intended final result and it is up to me to find and create a simple solution. 

								p I like clean, clear and elegant solutions to seemingly difficult problems, because it is in the challenge of solving a problem that I can express creativity, and ultimately providing a great experience to the end user. Nobody is satisfied when forced to use convoluted ways to complete a task, much less when it has to be repeated frequently. User and creators/developers all deserve to fulfill their needs.

								p That is why I always go for the stable, maintainable, robust and extendable architecture over the quick and dirty fix.

								p A well thought-out solution stands the test of time, and costs much less time and money to everyone. It provides a much more satisfactory experience, and allows all people involved to spend more time doing what makes them good at their jobs, instead of scrambling to fix issues that never cease to arise.

								p I believe it is the collective efforts of a well-balanced, creative team that makes a product stand out, while making the day-to-day tasks more fulfilling as everyone gets time to shine and learn from the common knowledge and experience of the group. Passionate people who love their jobs bring people together to move forward, and it is in that environment that people excel.

					section(class="latest section shadow-z-1")
						div.section-inner
							h2.heading Latest Project
							div.content
								div(class="item featured text-center")
									h3.title
										a(href="https://philsawicki.github.io/GoogleAnalytics-WebTester/", class="js-ga-outbound-link", target="_blank", title="Google Analytics Web Tester") Google Analytics Web Tester
									p.summary A Protractor framework for Functional Testing of Google Analytics implementations
									div.featured-image
										a(href="https://philsawicki.github.io/GoogleAnalytics-WebTester/", class="js-ga-outbound-link", target="_blank", title="Google Analytics Web Tester")
											img(class="img-responsive project-image", src="https://raw.githubusercontent.com/philsawicki/GoogleAnalytics-WebTester/gh-pages/images/screenshot-home.png", width="690", height="521", alt="Google Analytics Web Tester", title="Google Analytics Web Tester")
										//div.ribbon
											div.text New
									div(class="desc text-left")
										p Testing proper implementation of Google Analytics Tracking on a website can be a tricky thing to do. Unless you run a daily gamut of tests during and after development, what works one day may be broken the next one without you ever noticing.

										p To prevent that, <strong>Google Analytics Web Tester</strong> was created.
									a(class="btn btn-cta-secondary js-ga-outbound-link", href="https://philsawicki.github.io/GoogleAnalytics-WebTester/", target="_blank", title="More information on Google Analytics Web Tester"): <!--<i class="fa fa-thumbs-o-up"></i>--> Visit Project site
								//hr.divider
								//div(class="item row")
									a(class="col-md-4 col-sm-4 col-xs-12", href="#")
										img(class="img-responsive project-image", src="assets/images/projects/project-5.png", alt="project name")
									div(class="desc col-md-8 col-sm-8 col-xs-12")
										h3.title
											a(href="#") Atom - Designed for Mobile Apps
										p You can put one of your secondary projects here.
										p
											a.more-link(href="#"): <i class="fa fa-external-link"></i> Find out more

					//section(class="projects section shadow-z-1")
						div.section-inner
							h2.heading Other Projects
							div.content
								div.item
									h3.title: a(href="#") Project Title Cras Lacus
									p.summary Provide a brief summary of your project
									p: a.more-link(href="#"): <i class="fa fa-external-link"></i> Find out more

								a(class="btn btn-cta-secondary", href="#") More on CoderWall <i class="fa fa-chevron-right"></i>

					//section(class="experience section shadow-z-1")
						div.section-inner
							h2.heading Work Experience
							div.content
								div.item
									h3.title Co-Founder & Lead Developer - <span class="place"><a href="#">Startup Hub</a></span> <span class="year">(2014-Present)</span>
									p Aenea leo ligula

					//section(class="github section shadow-z-1")
						div.section-inner
							h2.heading My GitHub
							p You can embed your GitHub activities using caery
							div.ghfeed#ghfeed



				div(class="secondary col-md-4 col-sm-12 col-xs-12")
					aside(class="info aside section shadow-z-1")
						div.section-inner
							h2(class="heading sr-only") Basic Information
							div.content
								ul.list-unstyled
									li <i class="fa fa-map-marker"></i><span class="sr-only">Location:</span> Montreal, Canada
									//li <i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">jameslee@website.com</a>
									li <i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="http://philippesawicki.com" class="js-ga-outbound-link" title="Philippe Sawicki - Full Stack Developer & Digital Analyst" rel="me">philippesawicki.com</a>

					//aside(class="skills aside section shadow-z-1")
						div.section-inner
							h2.heading Skills
							div.content
								p.intro Intro about your skills goes here. Keep the list lean and only show your primary skillset. You can always provide a link to your LinkedIn or Coderwall profile so people can get more info there.
								div.skillset
									div.item
										h3.level-title Python & Django <span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info">Expert</span>
										div.level-bar
											div.level-bar-inner(data-level="96%")
									div.item
										h3.level-title JavaScript & jQuery <span class="level-label">Expert</span>
										div.level-bar
											div.level-bar-inner(data-level="96%")
									p
										a.more-link(href="https://linkedin.com/in/philippesawicki", title="Philippe Sawicki on LinkedIn", target="_blank") <i class="fa fa-external-link"></i> More on LinkedIn

					aside(class="experience aside section shadow-z-1")
						div.section-inner
							h2.heading Work Experience
							div.content
								div.item
									h3.title Solution Developer & Digital Analyst
									h3.title <span class="place">Orckestra Inc.</span> <span class="year">(2011 - Present)</span>
									//p Aenea leo ligula
								//div.item
									h3.title Web Designer & Developer, SEO & Web Analytics
									h3.title <span class="place">Freelance</span> <span class="year">(2001 - Present)</span>
									//p Aenea leo ligula
								div.item
									h3.title Developer (Internship)
									h3.title <span class="place">Ericsson Montreal</span> <span class="year">(2010)</span>
									//p Aenea leo ligula
								div.item
									h3.title Analyst, Architect & Developer (Internship)
									h3.title <span class="place">CHU Sainte-Justine Research Centre</span> <span class="year">(2009)</span>
									//p Aenea leo ligula
								p.text-center: a(href="https://linkedin.com/in/philippesawicki" target="_blank" class="js-ga-outbound-link" title="Philippe Sawicki on LinkedIn" class="btn btn-cta-secondary") More on LinkedIn

					aside(class="education aside section shadow-z-1")
						div.section-inner
							h2.heading Education
							div.content
								div.item
									h3.title B.Sc. Computer Science
									h4.university(style="padding-left:0;") Polytechnique Montréal <span class="year">(2006-2010)</span>
								div.item
									h3.title DEC Natural Sciences
									h4.university(style="padding-left:0;") Jean-de-Brébeuf College <span class="year">(2004-2006)</span>

					//aside(class="education aside section shadow-z-1")
						div.section-inner
							h2.heading Education
							div.content
								div.item
									h3.title <i class="fa fa-graduation-cap"></i> B.Sc. Computer Science
									h4.university École Polytechnique <span class="year">(2006-2010)</span>
								div.item
									h3.title <i class="fa fa-graduation-cap"></i> DEC Natural Sciences
									h4.university Collège Jean-de-Brébeuf <span class="year">(2004-2006)</span>

					//aside(class="languages aside section shadow-z-1")
						div.section-inner
							h2.heading Languages
							div.content
								ul.list-unstyled
									li.item
										span.title: strong English:
										span.level Native Speaker <br class="visible-xs" /><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
									li.item
										span.title: strong Spanish:
										span.level Professional Proficiency <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i>

					//aside(class="blog aside section shadow-z-1")
						div.section-inner
							h2.heading Latest Blog Posts
							p You can use Sassads jQuery RSS plugin to pull in your blog post feeds.
							div.content#rss-feeds

		footer.footer
			div(class="container text-center")
				small.copyright &copy; Copyright 2015 <a href="http://philippesawicki.com" class="js-ga-outbound-link" title="Philippe Sawicki - Full Stack Developer & Digital Analyst" rel="me">Philippe Sawicki</a>

		script(type="application/ld+json").
			[
				{
					"@context" : "http://schema.org",
					"@type" : "Person",
					"name": "Philippe Sawicki",
					"jobTitle": "Full Stack Developer & Digital Analyst",
					"url": "http://philippesawicki.com",
					"sameAs": [
						"https://facebook.com/philippe.sawicki",
						"https://twitter.com/fyll_s",
						"https://plus.google.com/+PhilippeSawicki",
						"https://linkedin.com/in/philippesawicki"
					]
				},
				{
					"@context" : "http://schema.org",
					"@type" : "WebSite",
					"name" : "Philippe Sawicki Portfolio",
					"alternateName" : "Portfolio",
					"url" : "https://philsawicki.github.io/"
				}
			]

		script(type="text/javascript").
			function asyncLoad (src, callback) {
				var s = document.createElement('script');
				s.type = 'text/javascript';
				s.async = true;
				s.src = src;
				if (typeof callback === 'function') {
					s.addEventListener('load', callback, false);
				}
				var h = document.getElementsByTagName('head')[0];
				h.appendChild(s);
			}

			//asyncLoad('//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js', function (event) {
				//asyncLoad('//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js', function (event) {
					asyncLoad('public/js/main.min.js');
				//});
			//});

